<form class="form-horizontal">
    <div class="control-group col-xs-6">
        <label class="control-label">PNR</label>
        <div class="controls readonly">
            {{pnr}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls readonly">
            {{name}}
        </div>
    </div>
</form>