<div class="row pnr-details">
    <div class="form-group col-xs-3">
        <label  for="airline">Airline</label>
        <input data-attr="air-line" type="text" class="form-control" id="airline" placeholder="airline" value="{{airline}}">
    </div>
    <div class="form-group col-xs-3">
        <label for="ADULT">Adult</label>
        <input data-pax="TYPE" type="text" class="form-control" id="ADULT" placeholder="adult" value="{{adult}}">
    </div>
    <div class="form-group col-xs-3">
        <label for="CHILD">Child</label>
        <input data-pax="TYPE" type="text" class="form-control" id="CHILD" placeholder="child" value="{{child}}">
    </div>
    <div class="form-group col-xs-3">
        <label for="INFANT">Infant</label>
        <input data-pax="TYPE" type="text" class="form-control" id="INFANT" placeholder="infant" value="{{infant}}">
    </div>
    <button type="button" class="btn btn-default pull-left" id="add-segment">Add Segment</button>
    <button type="button" class="btn btn-primary pull-right col-xs-6" id="submit">
        <i class="fa fa-cog fa-spin" style="display: none"></i>
        Create PNR
    </button>
</div>
